<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="pandora_asistenciaPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>pandora.asistencia.entity.Parametros</class>
    <class>pandora.asistencia.entity.Empleado</class>
    <class>pandora.asistencia.entity.Tipodato</class>
    <class>pandora.asistencia.entity.Asistencia</class>
    <class>pandora.asistencia.entity.Masterparametro</class>
    <class>pandora.asistencia.entity.Parametro</class>
    <class>pandora.asistencia.entity.Control</class>
    <class>pandora.asistencia.entity.Horario</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/pandora_asistencia"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="mysql"/>
    </properties>
  </persistence-unit>
</persistence>
